xmlTeam3/src/main/resources/xsd/workflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://ftn.uns.ac.rs/team3/workflow"
	xmlns="http://ftn.uns.ac.rs/team3/workflow">
	<xs:element name="workflow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="authorUsername" type="xs:string" />
				<xs:element name="reviewerUsername" type="xs:string" />
				<xs:element name="editorUsername" type="xs:string" />
				<xs:element name="scientificWorkId" type="xs:string" />
			</xs:sequence>

			<xs:attribute name="id" type="xs:string" />

		</xs:complexType>
	</xs:element>
</xs:schema>